.search-bar {
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 10px;
  padding-left: 14px;
  width: 600px;
}

.preview {
  width: 300px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.image {
  width: 300px;
}

.img {
  width: 60px;
  display: inline-block;
}

.test {
  margin-top: 40px;
  background-color: #f0f0f0;
  border: none;
}

.container {
  margin-right: none;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.test-image {
  width: 200px;
}

.name,
.type,
.color,
.price,
.save {
  margin: 8px;
  font-size: 16px;
}

.name {
  font-weight: 500;
}

.type,
.color {
  color: gray;
}

.save {
  background-color: #0092db;
  color: white;
  border: none;
  width: 50px;
  transition-duration: 35ms;
}


.save:hover {
  cursor: pointer;
  width: 60px;
}

.save:click {
  width: 30px;
}
